<div class="main-block">
  <div class="text-img">
    <div class="head-text">
      <div class="head-text1">
        {{'HOME.DO_YOU_EVER' | translate}}
      </div>
      <div class="head-text2">
        {{'HOME.WE_ARE_GOING_TO' | translate}}
      </div>
      <div class="head-text2">
        {{'HOME.HING_THAT_HELP' | translate}}
      </div>
      <div class="head-text3">
        <button mat-raised-button color="accent" class="app-google">{{'HOME.DOWNLOAD_APP_GOOGLE' | translate}}</button>
      </div>
    </div>
    <div>
      <img src="./assets/img/macbook air.png" class="macbook" />
    </div>
  </div>
</div>