:host {
    display: block;
    padding-top: 80px;
}

.main-block {
    margin: auto;
    width: 80%;
    margin-bottom: 80px;
    font-family: 'Roboto', sans-serif;
}

.features-text1 {
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 50px;
    mix-blend-mode: normal;
    opacity: 0.84;
}

.features-text2-block {
    margin-bottom: 52px;
}

.features-text2 {
    color: #4B2B8D;
    width: 389px;
    font-size: 30px;
}

.main-features-block {
    display: flex;
    justify-content: space-between;
}

.features-block1 {
    width: 292px;
    height: 364px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: rgb(238, 238, 238) 0px 0px 100px 5px;
    margin-right: 35px;
    padding: 10px;
}

.features-block2 {
    width: 292px;
    height: 364px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: rgb(238, 238, 238) 0px 0px 100px 5px;
    margin-right: 35px;
    padding: 10px;
}

.features-block3 {
    width: 292px;
    padding: 10px;
    height: 364px;
    background: #FFFFFF;
    border-radius: 11px;
    box-shadow: rgb(238, 238, 238) 0px 0px 100px 5px;
}

.shape {
    margin-left: 226px;
    margin-top: 23px;
    margin-bottom: 38px;
}

.features-text3 {
    color: #4B2B8D;
    line-height: 26px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.features-text4 {
    line-height: 18px;
    font-size: 10px;
    color: #9B9B9B;
    margin-top: 37px;
}