<div class="main-block">
  <div class="features-text1">
    {{'FEATURES.OUR_FEATURES' | translate}}
  </div>
  <div class="features-text2-block">
    <div class="features-text2">
      {{'FEATURES.OPPORTUNITIES' | translate}}
    </div>
    <div class="features-text2">
      {{'FEATURES.SKYCALL_SIP-PHONE_PLUGIN' | translate}}
    </div>
  </div>
  <div class="main-features-block">
    <div class="features-block1">
      <img src="../assets/img/shape4.svg" class="shape" />
      <div class="features-text3">{{'FEATURES.CALL_LOG' | translate}}</div>
      <div class="features-text3">{{'FEATURES.CONTROL' | translate}}</div>
      <div class="features-text4">
        {{'FEATURES.TEXT1' | translate}}
      </div>
    </div>
    <div class="features-block2">
      <div class="features-text3">
          <img src="../assets/img/shape5.svg" class="shape" />
        {{'FEATURES.INTERNAL_NUMBERS' | translate}}
      </div>
      <div class="features-text3">
        {{'FEATURES.AND_FREE' | translate}}
      </div>
      <div class="features-text4">
          {{'FEATURES.TEXT2' | translate}}
      </div>
    </div>
    <div class="features-block3">
      <img src="../assets/img/shape6.svg" class="shape" />
      <div class="features-text3">
        {{'FEATURES.ANALITICS' | translate}}
      </div>
      <div class="features-text3">
        {{'FEATURES.MONITORING' | translate}}
      </div>
      <div class="features-text4">
          {{'FEATURES.TEXT3' | translate}}
      </div>
    </div>
  </div>
</div>