<div class="main-block">
  <div class="description-text-block">
    <div>
      <div class="description-text1">
        {{'ABOUT.WE_ARE_SKYCALL' | translate}}
      </div>
      <div class="description-text2-block">
        <div class="description-text2">
          {{'ABOUT.THE_BEST_SIP-PHONE' | translate}}
        </div>
        <div class="description-text2">
          {{'ABOUT.FOR_GOOGLE_CHROME' | translate}}
        </div>
      </div>
      <div class="description-text3">
        {{'ABOUT.THE_GOOGLE_CHROME' | translate}}
      </div>
    </div>
    <img src="./assets/img/plugin_img.svg" class="desktop" />
  </div>
  <div class="shapes-block-main">
    <div class="shapes-block">
      <div class="shape">
        <img src="./assets/img/shape1.svg" />
      </div>
      <span class="shape-text">
        {{'ABOUT.MISSED_CALLS_INDICATOR' | translate}}
      </span>
  </div>
  <div class="shapes-block">
    <div class="shape">
      <img src="./assets/img/shape2.svg" />
    </div>
    <span class="shape-text">
      {{'ABOUT.iNCOMING_CALLS_NOTIFICATIONS' | translate}}
    </span>
  </div>
  <div class="shapes-block">
    <div class="shape">
      <img src="./assets/img/shape3.svg" />
    </div>
    <span class="shape-text">
      {{'ABOUT.CALLS_FILTER_AND_SEARCH' | translate}}
    </span>
  </div>
</div>