:host {
    display: block;
    min-width: 800px;
    padding-top: 80px;
}

.wish-list-block {
    width: 80%;
    margin: auto;
}

.wish-list-table {
    width: 100%;
    margin-top: 50px;
}

.wish-list-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wish-number {
    height: 100%;
    float: left;
    margin-right: 5px;
    color: #4A4A4A;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.wish-text {
    width: 80%;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    margin-top: 18px;
}

.wish-result {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #9B9B9B;
    margin-top: 13px;
}

.add-icon {
    color: #7623AE;
    cursor: pointer;
    user-select: none;
}

.remove-icon {
    color: #9B9B9B;
    cursor: pointer;
    user-select: none;
}

.section-name {
    font-family: 'Roboto', sans-serif;
    color: #4A4A4A;
    font-size: 14px;
    margin-bottom: 50px;
    mix-blend-mode: normal;
    opacity: 0.84;
    text-transform: uppercase;
}

.header-name {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #4B2B8D;
}

.matInput {
    color: #7623AE;
    display: block;
    width: 80%;
    min-width: 200px;
}

.form {
    margin-top: 50px;
    margin-bottom: 164px;
    background: #FFFFFF;
    border-radius: 11px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: rgb(238, 238, 238) 0px 0px 100px 5px;
}

.form-name {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #4B2B8D;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding-top: 25px;
}

.full-list-button {
    font-size: 14px;
    color: #673085;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.send-comment-button {
    background: linear-gradient(165.12deg, #7623AE 0%, #C86DD7 101.5%);
    border-radius: 22.5px;
    margin-right: 2px;
}

.send-comment-button:disabled {
    background: grey;
    color: #FFFFFF;
}

.input-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.inputs {
    width: 50%;
}

.input-sub-block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    justify-content: space-between;
}