:host {
    background: linear-gradient(to top,#341D62, #673085);
    /* height: 100vh; */
    width: 100%;
    display: block;
    padding-bottom: 100px;
    padding-top: 80px;
}

.main-block {
    display: block;
    margin: auto;
    width: 80%;
}

.pricing-text1 {
    line-height: 36px;
    font-size: 14px;
    letter-spacing: 1.47368px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    mix-blend-mode: normal;
    opacity: 0.84;
}

.pricing-text2 {
    width: 558px;
    height: 90px;
    line-height: 45px;
    font-size: 30px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 72px;
}

.price-block {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}